.app-container {
  margin: 30px auto;
  width: 80%;
  box-shadow: 0px 1px 9px black;
  @include for-phone-layout {
    width: 100%;
  }

  .header {
    background-color: #0282ff;
    color: white;
  }

  h3 {
    margin: 0;
    padding: 5px;
    width: 100%;
    color: inherit;
  }

  .add-btn {
    position: absolute;
    bottom: 0;
    right: 10px;
    transition: 0.5s;
    width: 50px;
    img {
      width: 50px;
      transition: 0.5s;
    }
    img:hover {
      transform: scale(1.3);
    }
  }

  .topic-container {
    padding: 5px;
    h4 {
      padding: 5px;
      margin: 0;
      color: black;
      white-space: nowrap;
      width: 10ch;
      overflow: hidden;
    }
  }
  .chat-header-container {
    padding: 5px 5px 5px 15px;
  }

  .chat-container {
    width: 82%;
    border-left: 1px solid #c4c4c5;
    background-color: #f9f9f9;
    @include for-tablet-layout {
      width: 70%;
    }
    @include for-phone-layout {
      width: 65%;
    }
    .msg-container {
      height: 390px;
      overflow-y: auto;
      .bottom {
        width: 1px;
        height: 1px;
      }
    }

    .form-container {
      .btn {
        margin: 0px 5px;
      }
      padding: 5px;
      img {
        width: 20px;
        transition: 0.5s;
      }
      img:hover {
        transform: scale(1.3);
      }
    }

    p {
      margin: 0;
    }
  }

  .topics-container {
    background-color: #f9f9f9;
    position: relative;
    width: 18%;
    @include for-tablet-layout {
      width: 30%;
    }
    @include for-phone-layout {
      width: 35%;
    }

    .active-topic {
      background-color: #e4e4e485;
    }
  }

  .container {
    height: 450px;

    .comment-container {
      div {
        padding: 1px;
      }
      .my-message {
        width: 40%;
        border: 1px solid;
        padding: 5px;
        border-radius: 7px;
        background: #0282ff;
        text-align: left;
        color: white;
      }

      .others-msg {
        width: 40%;
        border: 1px solid #eaeaea;

        padding: 5px;
        border-radius: 7px;
        background: #eaeaea;
        text-align: left;
        color: black;
      }
    }
  }
}
